<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>测试页面</title>
    <link href="../../static/assets/css/bootstrap.min.css" th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../../static/css/jquery.dataTables.css" th:href="@{/css/jquery.dataTables.css}" rel="stylesheet"/>
    <script src="../../static/js/jquery-3.3.1.js" th:src="@{/js/jquery-3.3.1.js}"></script>
    <script src="../../static/assets/js/bootstrap.min.js" th:src="@{/assets/js/bootstrap.min.js}"></script>
    <script src="../../static/js/myJS.js" th:src="@{/js/myJS.js}"></script>
    <script src="../../static/assets/js/jquery.dataTables.min.js" th:src="@{/assets/js/jquery.dataTables.min.js}"></script>
</head>
<body>
<div id="org">

</div>
<table class="table table-hover" id="orgTable">
    <thead></thead>
    <tbody></tbody>
</table>
<script type="text/javascript">
    $(function () {
        $.ajax({
            url: "http://fby:8080/CCMS/org/queryAllOrg",
            type: "post",
            dataJson: "json",
            async: false,
            success: function (data) {
                orgData = data;
            }
        });
        $('#orgTable').DataTable({
            data: orgData,
            //排序的列
            aaSorting:[1,"asc"],
            // 国际化配置
            "oLanguage" : {
                "sProcessing" : "正在获取数据，请稍后...",
                "sLengthMenu" : "显示 _MENU_ 条",
                "sZeroRecords" : "没有找到数据",
                "sInfo" : "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
                "sInfoEmpty" : "记录数为0",
                "sInfoFiltered" : "(全部记录数 _MAX_ 条)",
                "sInfoPostFix" : "",
                "sSearch" : "查询",
                "sUrl" : "",
                "oPaginate" : {
                    "sFirst" : "第一页",
                    "sPrevious" : "上一页",
                    "sNext" : "下一页",
                    "sLast" : "最后一页"
                }
            },
            //使用对象数组，一定要配置columns，告诉 DataTables 每列对应的属性
            //data 这里是固定不变的，name，position，salary，office 为你数据里对应的属性
            columns: [{
                data: null,
                bSortable: false,
                className: "",
                width: "30px",
                render: function (data, type, row, meta) {
                    var s = "<input type='checkbox' name='checkBox1'/>";
                    return s;
                }
            },
                {
                    sTitle: "序号",
                    mDataProp: "orgId",
                    targets: 0,
                    sClass: "center",
                    "bSortable": true,
                    "sWidth": "100"
                },
                {
                    "sTitle": "名称",
                    "mDataProp": "orgName",
                    "targets": 0,
                    "sClass": "center",
                    "bSortable": false,
                    "sWidth": "100"
                },
                {
                    "sTitle": "上级部门",
                    "mDataProp": "",
                    "targets": 0,
                    "sClass": "center",
                    "bSortable": false,
                    "sWidth": "100",
                    render: function (data, type, row, meta) {
                        if(null!=row.supOrg)
                        return row.supOrg.orgName;
                        else
                            return "";
                    }
                }
            ]
        });
    })

</script>
</body>
</html>