<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>部门管理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link href="../../static/assets/css/bootstrap.min.css" th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="../../static/assets/css/ace.min.css" th:href="@{/assets/css/ace.min.css}"/>
    <link rel="stylesheet" href="../../static/assets/css/font-awesome.min.css"
          th:href="@{/assets/css/font-awesome.min.css}"/>
    <link rel="stylesheet" href="../../static/Widget/zTree/css/zTreeStyle/zTreeStyle.css"
          th:href="@{/Widget/zTree/css/zTreeStyle/zTreeStyle.css}" type="text/css"/>
    <link href="../../static/Widget/icheck/icheck.css" th:href="@{/Widget/icheck/icheck.css}" rel="stylesheet"
          type="text/css"/>
    <!-- 分页样式 -->
    <link rel="stylesheet" href="../../static/css/dataTables_paginate.css"
          th:href="@{/css/dataTables_paginate.css}"/>

    <!--[if IE 7]>
    <link rel="stylesheet" href="../../static/assets/css/font-awesome-ie7.min.css"
          th:href="@{/assets/css/font-awesome-ie7.min.css}"/>
    <![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="../../static/assets/css/ace-ie.min.css" th:href="@{/assets/css/ace-ie.min.css}"/>
    <![endif]-->
    <script src="../../static/js/jquery-3.3.1.js" th:src="@{/js/jquery-3.3.1.js}"></script>
    <script src="../../static/assets/js/bootstrap.min.js" th:src="@{/assets/js/bootstrap.min.js}"></script>

    <!-- 特定于页面的插件脚本 -->
    <script src="../../static/assets/js/jquery.dataTables.min.js"
            th:src="@{/assets/js/jquery.dataTables.min.js}"></script>
    <script src="../../static/assets/js/jquery.dataTables.bootstrap.js"
            th:src="@{/assets/js/jquery.dataTables.bootstrap.js}"></script>
    <script src="../../static/assets/layer/layer.js" th:src="@{/assets/layer/layer.js}" type="text/javascript"></script>
    <script src="../../static/assets/laydate/laydate.js" th:src="@{/assets/laydate/laydate.js}"
            type="text/javascript"></script>
    <script src="../../static/assets/dist/echarts.js" th:src="@{/assets/dist/echarts.js}"></script>
    <script type="text/javascript" src="../../static/Widget/zTree/js/jquery.ztree.all-3.5.min.js"
            th:src="@{/Widget/zTree/js/jquery.ztree.all-3.5.min.js}"></script>
    <script src="../../static/js/lrtk.js" type="text/javascript" th:src="@{/js/lrtk.js}"></script>
    <script src="../../static/js/myJS.js" th:src="@{/js/myJS.js}"></script>

    <script type="text/javascript" th:inline="javascript">
        $(function () {

        })
        //获取当前网页的相对路径，用于ajax
        var basePath = [[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]];

    </script>
    <style type="text/css">


    </style>
</head>
<body>
<div id="content" class="page-content clearfix">
    <div id="brand_style">
        <div class="search_style">
        </div>
        <div class="border clearfix">
       <span class="l_f">
        <a href="" title="添加机构" class="btn btn-warning Order_form"><i class="icon-plus"></i>添加机构</a>
        <a href="javascript:ovid()" class="btn btn-danger"><i class="icon-trash"></i>批量删除</a>
       </span>
            <span class="r_f">可管理：<b id="orgManagerB">0</b> 个机构</span>
        </div>
        <div>
            <table class="table table-striped table-bordered table-hover" id="orgTable">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        getOrgData();
        $('#orgTable').DataTable({
            ajax: basePath+"/org/queryAllOrg",
            pagingType:"full_numbers",
            //排序的列
            aaSorting: [1, "asc"],
            "sDom": "<'row'<'col-sm-3'l><'col-sm-9' <'#orgSelect' 'dataTables_filter'>>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
            //使用对象数组，一定要配置columns，告诉 DataTables 每列对应的属性
            columns: [
                {
                    sTitle: "<label><input type='checkbox' class='ace'><span class='lbl'></span></label>",
                    //设置列对应的属性
                    data: null,
                    bSortable: false,
                    width: "30px",
                    //此列要添加的类名
                    sClass: "",
                    //禁用排序
                    bSortable: false,
                    //设置是否隐藏列
                    bVisible: true,
                    //设置此列不参与搜索
                    searchable: false,
                    //可用于自定义显示的内容
                    render: function (data, type, row, meta) {
                        var s = "<label><input type='checkbox' class='ace'><span class='lbl'></span></label>";
                        return s;
                    }
                },
                {
                    "sTitle": "编号",
                    "mDataProp": "orgId",
                    "targets": 0,
                    //此列要添加的类名
                    "sClass": "",
                    //隐藏列
                    "bVisible": false,
                    "sWidth": "100px"
                },
                {
                    "sTitle": "机构名称",
                    bSortable: false,
                    "mDataProp": "orgName",
                    "targets": 0,
                    "sClass": "center",
                    "sWidth": "100px"
                },
                {
                    "sTitle": "上级部门",
                    "mDataProp": "",
                    "targets": 0,
                    bSortable: false,
                    "sClass": "center",
                    "sWidth": "100px",
                    render: function (data, type, row, meta) {
                        if (null != row.supOrg)
                            return row.supOrg.orgName;
                        else
                            return "";
                    }
                },
                {
                    "sTitle": "部门负责人",
                    "mDataProp": "",
                    "targets": 0,
                    bSortable: false,
                    "sClass": "center",
                    "sWidth": "100px",
                    render: function (data, type, row, meta) {
                        if (null != row.orgPri)
                            return row.orgPri.managerName;
                        else
                            return "";
                    }
                },
                {
                    "sTitle": "全部上级部门",
                    "mDataProp": "",
                    "targets": 0,
                    "sClass": "center",
                    //隐藏列
                    "bVisible": false,
                    render: function (data, type, row, meta) {
                        var a = "";
                        function checkNull(supOrg) {
                            if (null != supOrg) {
                                a += supOrg.orgName;
                                checkNull(supOrg.supOrg);
                            }
                        }
                        if (null != row.supOrg)
                            checkNull(row.supOrg);
                        return a;
                    }
                },
                {
                    "sTitle": "负责人手机",
                    "mDataProp": "",
                    "targets": 0,
                    bSortable: false,
                    "sClass": "center",
                    "sWidth": "100px",
                    render: function (data, type, row, meta) {
                        if (null != row.orgPri)
                            return row.orgPri.phone;
                        else
                            return "";
                    }
                }
            ],
            //初始化完成后的回调函数
            initComplete: function (settings, json) {
                //给复选框绑定事件
                $('table th input:checkbox').on('click', function () {
                    var that = this;
                    $(this).closest('table').find('tr > td:first-child input:checkbox')
                        .each(function () {
                            this.checked = that.checked;
                            $(this).closest('tr').toggleClass('selected');
                        });
                });
                foundSelectOrgDiv();
                foundOrgSelect($("#orgSelectLi"));
                $("#orgSelectLi select").attr("onchange","getOrgSelectText(this)");
                $("#orgManagerB").html(json.iTotalRecords);
            }

        });

    })


    /**
     * 创建一个用于查询的div
     */
    function foundSelectOrgDiv() {
        var html = '查询:' +
            '<input name="" title="部门名称或负责人名称和手机号" oninput="selectOrgDataTable(this.value)" type="text" class="text_add" id="select" placeholder="输入关键字进行查询"/>' +
            '<span id="orgSelectLi"></span>';
        $("#orgSelect").html(html);
    }

    /**
     * 根据传入的内容在表中搜索
     * @param orgName
     */
    function selectOrgDataTable(orgName) {
        $('#orgTable').DataTable().search(orgName).draw();
    }

</script>
</body>
</html>